body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.screen {
  grid-column: 1 / -1;
  grid-row: 1;
  border:none;
  border-radius: 5px;
  text-align: right;
}

#smallDisplay{
	position: absolute;
	top: 19%;
	right: 36%;
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.screen p {
  margin: 20px 0 20px 0;
  padding-right: 10px;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  padding: 25px;
  font-size: 16px;
  border:none;
  border-radius: 5px;
  background-color: #d8d6d6;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.del{
  background-color:#f0a6a6;
  padding: 23px;
}

.math{
  background-color:aquamarine
}

button:active {
  background-color: #fcfcfc;
}

button:active,
button:focus {
  outline: none;
}

